.movie-card img {
  width: 100%; /* 이미지를 카드에 꽉 채우도록 함 */
  height: auto; /* 이미지의 높이를 자동으로 조정 */
}

.cardBoxDiv {
  display: flex;
  flex-wrap: wrap;
}

.cardBox {
  width: 20%;
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-radius: 8px; /* 테두리 둥글기 */
  margin: 10px; /* 카드 간격 */
  overflow: hidden; /* 내용이 카드를 벗어나지 않도록 함 */
  text-decoration: none;
}
