.movie-detail {
    /* 영화 상세 정보를 flexbox로 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movie-backdrop {
    /* 배경 이미지 스타일링 */
    width: 100%;
    height: auto;
  }
  
  .movie-info {
    /* 영화 정보를 포함하는 div 스타일링 */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin-top: -150px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
  }
  
  .movie-poster {
    /* 포스터 이미지 스타일링 */
    width: 200px;
    height: auto;
  }
  